.container {
  padding: 0 2rem;
}

.titleMenu {
  text-align: center;
}

.categoryMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.categoryList {
  text-align: center;
  margin: 10px;
  padding: 20px 10px;
  box-shadow: 10px 5px aliceblue;
  background-color: azure;
}

.categoryList:hover {
  background-color: white;
}